@font-face {
  font-family:"icomoon";
  src:url("https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family: 'icomoon';
  src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?-cmq1um');
  src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?#iefix-cmq1um') format('embedded-opentype'),
  url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.woff?-cmq1um') format('woff'),
  url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.ttf?-cmq1um') format('truetype'),
  url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.svg?-cmq1um#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
}


/***************
 * TYPE DEFAULTS
 ***************/
a {
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: border-bottom 0.35s;
  -moz-transition: border-bottom 0.35s;
  -ms-transition: border-bottom 0.35s;
  -o-transition: border-bottom 0.35s;
  transition: border-bottom 0.35s;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
h1 {
  font-size: 3.400rem;
  font-weight: 400;
  line-height: 4rem;
}
h2 {
  font-size: 2.400rem;
  font-weight: 400;
  line-height: 3.2rem;
}
h3 {
  font-size: 2.000rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}
h4 {
  font-size: 1.600rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 2.4rem;
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}
strong {
  font-weight: 500;
}

.md-api-table td,
.md-api-table th {
  padding: 12px 16px;
  text-align: left;
}

.md-api-table td {
  vertical-align: top;
}
.md-api-table td.description *:first-child {
  margin-top: 0;
}
.md-api-table td.description *:last-child {
  margin-bottom: 0;
}
.md-api-table tr:nth-child(odd) td {
  background-color: #E3ECF5;
}
.md-api-table tr:nth-child(even) td {
  background-color: #D1DEEC;
}
.md-api-table th {
  background-color: #4C9EF0;
  color: white;
}

blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.12);
  font-style: italic;
  margin-left: 0;
  padding-left: 16px;
}
ul, ol {
  margin: 0;
  padding: 0;
}
li {
  margin-left: 16px;
  padding: 0;
  margin-top: 3px;
  list-style-position: inside;
}
li:first-child {
  margin-top: 0;
}