<div layout="row">
  <div layout="column">
    <div md-whiteframe="2" layout-padding>
      <h2>Filter Restaurants</h2>
      <fm-rating label="Price (no more than)"
                 rating="$ctrl.filters.price"
                 glyph="gbp"
                 on-select="$ctrl.filterBy('price', value)"></fm-rating>
      <fm-rating label="Rating (at least)"
                 rating="$ctrl.filters.rating"
                 on-select="$ctrl.filterBy('rating', value)"></fm-rating>
    </div>
  </div>
  <div layout="column" layout-padding>
    <div>
    {{ $ctrl.filteredRestaurants.length, plural,
      =0 {No restaurants found!}
      =1 {Only one restaurant found!}
      other {# restaurants found.}
    }}
    </div>

    <table>
      <thead>
      <tr>
        <th><a href ng-click="$ctrl.sortBy('name')">Name <span ng-class="$ctrl.getSortClass('name')"></span></a></th>
        <th><a href ng-click="$ctrl.sortBy('price')">Price <span ng-class="$ctrl.getSortClass('price')"></span></a></th>
        <th><a href ng-click="$ctrl.sortBy('rating')">Rating <span ng-class="$ctrl.getSortClass('rating')"></span></a></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="restaurant in $ctrl.filteredRestaurants | orderBy : $ctrl.sortProperty : $ctrl.sortDirection">
        <td class="description">
          <div class="media">
            <a class="pull-left" href="restaurants/{{restaurant.id}}">
              <img class="img-rounded" ng-src="images/restaurants/{{restaurant.id}}.jpg">
            </a>
            <div class="media-body">
              <h4 class="media-heading">
                <a ui-sref="restaurants.detail({id: restaurant.id})">{{restaurant.name}}</a>
              </h4>
              <p>{{restaurant.description}}</p>
            </div>
          </div>
        </td>
        <td class="price">{{ restaurant.price | rating : '£' }}</td>
        <td class="rating">{{ restaurant.rating | rating : '*' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>